$black: #161515;
$white: #ffffff;
$lightgray: #757474;
$beige: #d8d8d8;
$lightblue: #40c7e9;
$morelightgray: #979797;
$darkred: #af272f;
$morelightblue: #56c7d5;
$teal: #0097a9;
$lightteal: #0fd7f2;
$blue: #29abe2;
$lightdark: #545252;
$gray: #666464;
$lemongreen: #03ad50;
$lightbrown: #666262;
$dark: #2e2c2c;
$light: #949494;
$orange: #ff8200;
$darkyellow: #3a3a38;
$skyblue: #2e90ff;
$dark1: #343333;
$zambesi: #626060;
$darkred1: #655f5f;
$dark2: #434242;
$lightpink: #d3d3d3;
$lightlighred: #eaeaea;
$violet: #5c1864;
$waterblue: #069cb0;
$colormodal: #717272;
$bluecontra: #05b4dd;
$repassgray: #696363;
$selecred: #da291c;
$grayinac: #a8a8a8;
$morelight: #a1a0a0;
$colorfecha: #2e2d2d;
$darkinput: #4c4b4b;
$title: #666963;
$blueInput: #14bef2;
$kelley-green: #009245;
$pinkish-grey: #d1d0d0;
$greyish: #adabab;
$silver: #d5d7d7;
$coolBlue: #4ca1b1;
$pastelOrange: #fd945e;
$warmGrey: #9b9b9b;
$blackTwo: #2c2b2b;
$silver-two: #adafae;
$warm-grey-three:#808080;
$green:#15b643;