/*Tamaño de textos */
$fontSize: 12px;
$fontSizeTitle: 18px;
$fontSizeSub: 12px;
$displayTextOne: 48px;
$titleSection: 24px;
$displayTextTwo: 17px;
$fontSizeTv: 14px;
$posterTitleResponsive: 14px;
$sizeProgramming: 16px;
$fontlg: 20px;
$fontpaises: 16px;

.posi:hover > .describe {
    display: block;
}
.textcentro {
    text-align: justify;
}

.slideshow {
    position: relative;
}
.slider .caption {
    position: absolute;
}

.scroll {
    overflow: scroll;
}
.indication .badge {
    position: absolute;
    top: 64%;
    left: 76%;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
.title-reco {
    width: 453px;
    height: 49px;
    font-size: 34.8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666963;
}
.title-second {
    width: 500px;
    height: 29px;
    font-size: 23.8px;
    color: $title;
}

.shadow1 {
    border-radius: 15px;
    //margin-top: 4%;
}
.shadow {
    box-shadow: rgba(0, 0, 0, 0.5) -1px -1px 17px 9px;
}
.border-green {
    border: 3px solid $green;
}
.border-red {
    border: 3px solid $selecred;
}

$radioButton: 20px;
body{
    overflow-x: hidden;
}
.select2-container--default .select2-selection--single {
    border: transparent !important;
  }