@font-face {
    font-family: "Montserrat-Light";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Light/Montserrat-Light.eot);
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Light/Montserrat-Light.woff)
            format("woff"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Light/Montserrat-Light.ttf)
            format("ttf"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Light/Montserrat-Light.svg)
            format("svg");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Regular/Montserrat-Regular.eot);
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Regular/Montserrat-Regular.woff)
            format("woff"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Regular/Montserrat-Regular.ttf)
            format("truetype"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Regular/Montserrat-Regular.svg)
            format("svg");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot);
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff)
            format("woff"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf)
            format("truetype"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg)
            format("svg");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Bold/Montserrat-Bold.eot);
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Bold/Montserrat-Bold.woff)
            format("woff"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Bold/Montserrat-Bold.ttf)
            format("truetype"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Bold/Montserrat-Bold.svg)
            format("svg");
    font-display: block;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Black/Montserrat-Black.eot);
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Black/Montserrat-Black.woff)
            format("woff"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Black/Montserrat-Black.ttf)
            format("truetype"),
        url(/backoffice1/backoffice/public/fonts/Montserrat-Black/Montserrat-Black.svg)
            format("svg");
    font-display: block;
}
@font-face {
    font-family: "Montserrat-Medium-Light";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Medium-light/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(/backoffice1/backoffice/public/fonts/Montserrat-Medium/Montserrat-Medium.ttf);
}

$MontserratMedium: "Montserrat-Medium";
$MontserratRegular: "Montserrat-Regular";
$MontserratMediumLight: "Montserrat-Medium-Light";
$MontserratBlack: "Montserrat-Black";
$MontserratBold: "Montserrat-Bold";
$MontserratSemiBold: "Montserrat-SemiBold";
$MontserratLight: "Montserrat-Light";
