body {
    overscroll-behavior-x: none;
}

$slick-font-path: "~slick-carousel/slick/fonts/"; // To add
$slick-loader-path: "~slick-carousel/slick/"; // To add
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "./base/color";
@import "./base/config";
@import "./atoms/button";
@import "./atoms/img";
@import "./atoms/input";
@import "./atoms/separator";
@import "./atoms/spacings";
@import "./atoms/text";
@import "./atoms/video";
@import "./atoms/link";
@import "./atoms/label";
@import "./molecules/cards";
@import "./molecules/lists";
@import "./molecules/nav";
@import "./molecules/modal";
@import "./molecules/dropdown";
@import "./organisms/container";
@import "./organisms/footer";
@import "./organisms/grid";
@import "./organisms/header";
@import "./organisms/parts";
@import "./organisms/section";
@import "./organisms/calendar";
@import "./organisms/menu";
@import "./helpers/cursor";
@import "./helpers/spacing";
@import "./helpers/shadows";
@import "./organisms/slider";

.fade-grilla {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
