.add-images-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.image-blue {
    display: flex;
    position: absolute;
    top: 200px;
    left: 0px;
}

.image-email-login {
    position: absolute;
    right: 1%;
    left: 350px;
    -webkit-transform: translate(0, -90%);
    /*aqui es pr imagenes svg*/
    transform: translate(0, -10%);
    z-index: 1;
}

.image-pink {
    position: absolute;
    top: 400px;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    left: 0;
}

.image-pink-fondo {
    position: absolute;
    top: 200px;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, 500%);
    left: 0;
}

.image-blue-login {
    position: relative;
    border-radius: 15px;
    top: 0px;
    -webkit-transform: translate(0, -100%);
    /*aqui es pr imagenes svg*/
    transform: translate(0, -0%);
    right: 15px;
}

.logo {
    position: absolute;
    left: 200px;
    right: 33%;
    top: 0px;
    -webkit-transform: translate(0, -100%);
    /*aqui es pr imagenes svg*/
    transform: translate(0, 50%);
}

.fondo-BO {
    background: url("/backoffice/public/images/claro-networks-portada.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden !important;
}

.image-email {
    position: absolute;
    right: 1%;
    left: 270%;
    transform: translate(0, 2000%);
    z-index: 1;
}

.icon-eye {
    position: absolute;
    right: 0%;
    top: 50%;
    opacity: 0.3;
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    width: 35px;
}

.icon-eye3 {
    position: absolute;
    opacity: 0.3;
    right: 12px;
    top: 150px;
    width: 35px;
}

.image-ta {
    width: 113px;
    height: 63px;
    background-color: $zambesi;
    margin: auto;
    overflow: hidden;
}

.image-program {
    object-fit: cover;
    position: absolute;
    width: 100%;
    left: 0;
}

.image-cover {
    object-fit: cover;
    position: absolute;

    left: 0;

    bottom: 0;
}

.equis {
    width: 39px;
    position: absolute;
    right: 0%;
    top: 0;
    -webkit-transform: translate(-30%, -30%);
    transform: translate(30%, -30%);
    cursor: pointer;
    z-index: 2;
    border-radius: 21px;
}

.equis1 {
    width: 39px;
    position: absolute;
    right: -32px;
    top: 0;
    -webkit-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
    cursor: pointer;
    z-index: 2;
    border-radius: 21px;
}

.equis2 {
    width: 39px;
    position: absolute;
    top: 0;
    transform: translate(1640%, -45%);
    cursor: pointer;
    z-index: 2;
    border-radius: 21px;
}

.images {
    width: 23px;
    height: 23px;
}

.img-tam {
    width: 27px;
}

.visualize-icon,
.edit-icon {
    width: 27px;
}

.reject-icon,
.aprove-orange-icon {
    width: 24px;
}

.manage-user-icon {
    width: 28px;
}

.commentary-icon {
    width: 25px;
}

.tam {
    width: 31px;
    height: 33px;
}

.text-right {
    margin-right: 9px;
}

.Icon_paises {
    vertical-align: middle;
    margin-right: 10px;
}

.eye-visual {
    position: absolute;
    right: 3%;
    top: 46%;
    opacity: 0.3;
    -webkit-transform: translate(0px, -40%);
    transform: translate(0px, -10%);
}

.modal-privilege-icon {
    width: 40px;
}

.men {
    width: 18px;
    height: 19px;
    margin-left: 4%;
}

.women {
    width: 25px;
    height: 20px;
}

.aprove-icon {
    width: 87px;
}

.arrow-180 {
    transform: rotate(181deg);
    margin-top: -64%;
}

.arrow-top {
    margin-top: -24%;
}

.arrow-r180 {
    transform: rotate(181deg);
}

.arrow-progra {
    width: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 0.7;
}

.arrow-progra:hover {
    opacity: 1;
}

.arrow-progra-right {
    transform: rotate(180deg);
}

.pencil {
    position: absolute;
    transform: translateY(-39%);
}

.pencil1 {
    position: absolute;
    transform: translate(200%, -14%);
}

.pencil2 {
    position: absolute;
    transform: translate(120%, -60%);
}

.subimage {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid $morelightgray;
    border-radius: 1em;
    transform: translate(-10px, -14px);
}

.edi {
    width: 32px;
}

.calendar {
    cursor: pointer;
    opacity: 0.7;
}

.imagethumb {
    width: 513px;
    height: 296px;
}

.imagevertical {
    width: 623px;
    height: 716px;
}

.imagesinop {
    width: 431px;
    height: 249px;
}

.delete-row-pencil {
    width: 36px;
}

.add-photo {
    z-index: 1;
}

/*THUMBNAILS DE IMÁGENES EN PROGRAMACIÓN GENERAL*/

.thumbnail-image-program {
    border-radius: 7px;
}

#thumbnail-home-horizontal {
    width: 295px;
    height: 180px;
}

#thumbnail-home-horizontal {
    .add-photo {
        width: 96px;
    }
}

#thumbnail-home-vertical {
    width: 295px;
    height: 472px;
}

#thumbnail-images-synopsis {
    width: 366px;
    height: 208px;
}

#thumbnail-home-vertical {
    .add-photo {
        width: 126px;
    }
}

/*IMÁGENES DE LA SINOPSIS DE PROGRAMACIÓN GENERAL*/
#image_synopsis {
    width: 553px;
    height: 366px;
}

#image_synopsis {
    .add-photo {
        width: 126px;
    }
}

.image-synopsis-frame {
    width: 375px;
    height: 215px;
}

.image-synopsis-frame {
    .add-photo {
        width: 126px;
    }
}

.arrow-left-synopsis {
    position: absolute;
    left: 0;
    transform: translate(-150%, -150%) rotate(180deg);
    top: 50%;
}

.arrow-right-synopsis {
    position: absolute;
    right: 0;
    transform: translate(150%, -150%);
    top: 50%;
}

.loader-table {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 150%);
}

.edit-image-icon {
    width: 70px;
    z-index: 1;
}

.arrow-right-programming,
.arrow-left-programming {
    top: 50%;
    position: absolute;
}

.arrow-right-programming {
    right: 0;
    transform: translate(150%, -50%);
}

.arrow-left-programming {
    left: 0;
    transform: translate(-150%, -50%) rotate(180deg);
}

.arrow-thermometer {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.arrow-thermometer-right {
    right: 0;
    transform: translate(calc(100% + 24px), -50%);
}

.arrow-thermometer-left {
    left: 0;
    transform: translate(calc(-100% - 24px), -50%) rotate(180deg);
}

//Calendar slider
.arrow-next,
.arrow-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.arrow-next,
.arrow-prev {
    width: 32px;
}

.arrow-prev {
    transform: translate(calc(-100% - 48px), -50%);
    left: 0;
}

.arrow-next {
    right: 0;
    transform: translate(calc(100% + 48px), -50%);
}

.edit-thumbnail {
    width: 100%;
    background-color: lightgray;
    padding-bottom: 47%;
    position: relative;
}

.thumbnail-image-prev {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.edit-program-camera {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumbnail-heart-icon {
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: $warmGrey;
    padding: 16px;
    width: 110px;
}

.dropimg {

    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 16px;
}


.heart-gray {
    fill: none;
}

.heart-gray-filled {
    fill: #7a7777;
}

.schedule-poster {
    width: 37%;
    margin-right: 5%;
}


.pencil-edit {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.moda-programming-landing-logo {
    width: 80px;
}

.modal-programming-landing-logo {
    width: 200px;
}

.promo-icon {
    width: 70px;
    z-index: 1;
}

.background-home {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.op-inac {
    opacity: 0.4;
}

.op-ac {
    opacity: 1;
}

.login {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.claro-nav-image,
.nav-image {
    height: 50px;
}

.nav-image {
    width: 60%;
    cursor: pointer;
}

.claro-nav-image {
    width: 100%;
    cursor: pointer;
}

.home-logo-container {
    background-color: $silver;
    border: 4px solid $coolGray;
    border-style: dashed;
}


.footer-image {
    width: 445px;
    height: 335px;
}


.oval-icon-social-media {
    width: 82px;
    height: 82px;
    border: solid 2px $silver;
    background-color: $whiteTwo;
    border-radius: 50%;
}


.label-footer-main-image {
    .add-photo {
        width: 80px;
    }
}

.label-footer {
    .add-photo {
        width: 25px;
    }
}

.label-footer-icon {
    .add-photo {
        width: 37px;
    }
}

.label-footer-option {
    .add-photo {
        width: 37px;
    }
}


.mask-white {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white;
    opacity: 0.5;
}
