@import "../base/typography";
@import "../base/color";

.input-basic {
    outline: none;
    border: none;
    background: transparent;
}

.insert-data {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    width: 100%;
    height: 44px;
    background-color: $white;
    padding: 1px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px $morelight;
    font-weight: bold;
    outline: none !important;
}

.insert-data:focus {
    color: $blueInput;
    border-bottom: solid 2px $blueInput;
    font-family: $MontserratBold;
}

.correo {
    font-family: $MontserratSemiBold;
    font-size: 14px;
    color: $lightbrown;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
input[type="radio"]:checked + .a-btn-check:before {
    content: "\02713";
    font-size: 30px;
    color: $kelley-green;
}

input[type="radio"]:checked + .hombre-estilo {
    background: $lemongreen;
    color: $white;
    border: none;
}
input[type="checkbox"] {
    display: none;
}
input[type="radio"] {
    display: none;
}
.input-border-red {
    border-bottom: 2px solid #ff0007;
}
.check {
    width: 17px;
    height: 16px;
    border: solid 2px $teal;
}
.radio-claro {
    display: block;
    margin-left: 8%;
    margin-bottom: -16%;
}
.radio-lan {
    display: block;
    margin-left: 18%;
    margin-bottom: -16%;
}
.selec-radio {
    display: block;
    margin: auto;
}
option:checked + .roles {
    background: $lemongreen;
    color: $white;
    border: none;
}

input[type="radio"]:checked + .mujer-estilo {
    background: $lemongreen;
    color: $white;
    border: none;
}
input[type="radio"]:checked + .mujer-estilo1 {
    background: $lemongreen;
    color: $white;
    border: none;
}

/*input[type="radio"]:checked + .si-estilo {
    background-color: $teal;
    color: $white;
    border: none;
}
input[type="radio"]:checked + .no-estilo {
    background-color: $teal;
    color: $white;
    border: none;
}*/

input[type="radio"]:checked + .switch-label {
    background-color: $teal;
    color: $white;
    border: none;
    font-family: $MontserratBlack;
}

.switch-label {
    font-family: $MontserratSemiBold;
}

input[type="radio"]:checked + .si-estilo1 {
    background-color: $darkinput;
    color: $white;
    border: none;
}
input[type="radio"]:checked + .no-estilo1 {
    background-color: $darkinput;
    color: $white;
    border: none;
}
.checkradio {
    display: block;
    //  position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 1em;
    border: 3px solid grey;
    background-color: white;
}

.checkradio input:checked + .checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkradio input:checked + .checkmark:after {
    display: block;
}

.checkradio .checkmark:after {
    left: 16%;
    top: 16%;
    width: 13px;
    height: 13px;
    background-color: #6a6666;
    border-radius: 1em;
}

.checksquare {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checksquare input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
    border: 3px solid $silver-two;
    background-color: white;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
    border: 3px solid $silver-two;
    background-color: white;
}
.checksquare input:checked ~ .checkmark1 {
    background-color: white;
}
.checksquare input:checked ~ .checkmark2 {
    background-color: white;
}
.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.checksquare input:checked ~ .checkmark1:after {
    display: block;
}

.checksquare input:checked ~ .checkmark2:after {
    display: block;
}
.checksquare .checkmark1:after {
    left: 12px;
    top: 0px;
    width: 12px;
    height: 26px;
    border: solid $kelley-green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checksquare .checkmark2:after {
    left: 12px;
    top: 0px;
    width: 12px;
    height: 26px;
    border: solid $selecred;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.prueba-check {
    width: 60px;
    height: 39px;
    border: 3px solid $lightgray;
}
.prueba-check input {
    width: 60px;
    height: 39px;
}

#date-schedule-landing {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.edit-cell {
    resize: none;
    border: none;
    padding: 8px;
    width: 100%;
    height: 100%;
    outline: none !important;
}

.table-input {
    border: none;
    width: 120px;
    outline: none !important;
}

#date-start-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
}

.modal-textarea {
    width: 100%;
    height: 358px;
    resize: none;
    outline: none !important;
}
//class to selectpicker
.bootstrap-select .btn:not(.bs-placeholder) {
    word-spacing: 100px;
    white-space: normal !important;
    word-wrap: break-word !important;
}
.bootstrap-select > .dropdown-toggle {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 70px;
    
}
.dropdown-item {
    display: inline-block;
    position: relative;
    line-height: 0;
    top: 0;
    margin-top: 12px;
    left: 25px;
    height: 0px;
    width: 0px;
    border-radius: 0em;
    border: 2px solid $morelightgray;
    background-color: white;

    padding: 0.45em;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    left: 3px;
    top: 0px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-left: 15px;
}

.bootstrap-select .bs-ok-default:after {
    content: "";
    display: block;
    width: 0.5em;
    left: 5px;
    top: 2px;
    height: 0.8em;
    border-style: solid;
    border-color: $teal;
    border-width: 0 0.26em 0.26em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
///end class to selectpicker

.edit-program-input {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
}

.edit-program-textarea {
    width: 100%;
    height: 417px;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.5);
    resize: none;
    border: none;
}
.urls {
    width: 246px;
    height: 43px;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    border: none;
}

.edit-program-input {
    width: 100px;
}

.edit-program-large-input {
    width: 100%;
}

.thumbnail-header1 .filter-option{
    border: 2px solid $selecred;
    background: $selecred;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.thumbnail-header1 .dropdown-toggle::after {
    content: url("http://localhost/backoffice1/backoffice/public/images/triangle.svg");
    display: block;
   
}
.thumbnail-header1 > .dropdown-toggle {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 100px !important;
}
.thumbnail-header1 .dropdown-item {
    display: inline-block;
    width: 100%;
    padding: 0 !important;
    clear: both;
    font-weight: 400;
    color: $warmGrey;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.thumbnail-header1 .dropdown-menu .selected span.check-mark {
  color: $greyishBrownTwo;
}
.thumbnail-header1 .dropdown-menu li {
    position: relative;
    margin-bottom: 9px;
}
.list1 .bootstrap-select > .dropdown-toggle {
    position: relative;
    width: 150%;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 70px;
    border-radius: 1em;
}