@import "../base/typography";
@import "../base/color";

.input-basic {
    outline: none;
    border: none;
    background: transparent;
}

.insert-data {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    width: 100%;
    height: 44px;
    background-color: $white;
    padding: 1px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px $morelight;
    font-weight: bold;
    outline: none !important;
}

.insert-data:focus {
    color: $blueInput;
    border-bottom: solid 2px $blueInput;
    font-family: $MontserratBold;
}

.correo {
    font-family: $MontserratSemiBold;
    font-size: 14px;
    color: $lightbrown;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

input[type="radio"]:checked+.a-btn-check:before {
    content: "\02713";
    font-size: 30px;
    color: $kelley-green;
}

input[type="radio"]:checked+.hombre-estilo {
    background: $lemongreen;
    color: $white;
    border: none;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

.input-border-red {
    border-bottom: 2px solid #ff0007;
}

.check {
    width: 17px;
    height: 16px;
    border: solid 2px $teal;
}

.radio-claro {
    display: block;
    margin-left: 8%;
    margin-bottom: -16%;
}

.radio-lan {
    display: block;
    margin-left: 18%;
    margin-bottom: -16%;
}

.selec-radio {
    display: block;
    margin: auto;
}

option:checked+.roles {
    background: $lemongreen;
    color: $white;
    border: none;
}

input[type="radio"]:checked+.mujer-estilo {
    background: $lemongreen;
    color: $white;
    border: none;
}

input[type="radio"]:checked+.mujer-estilo1 {
    background: $lemongreen;
    color: $white;
    border: none;
}

/*input[type="radio"]:checked + .si-estilo {
    background-color: $teal;
    color: $white;
    border: none;
}
input[type="radio"]:checked + .no-estilo {
    background-color: $teal;
    color: $white;
    border: none;
}*/

input[type="radio"]:checked+.switch-label {
    background-color: $teal;
    color: $white;
    border: none;
    font-family: $MontserratBlack;
}

.switch-label {
    font-family: $MontserratSemiBold;
}

input[type="radio"]:checked+.si-estilo1 {
    background-color: $darkinput;
    color: $white;
    border: none;
}

input[type="radio"]:checked+.no-estilo1 {
    background-color: $darkinput;
    color: $white;
    border: none;
}

.checkradio {
    display: block;
    //  position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 1em;
    border: 3px solid grey;
    background-color: white;
}

.checkradio input:checked+.checkmark {
    background-color: white;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkradio input:checked+.checkmark:after {
    display: block;
}

.checkradio .checkmark:after {
    left: 16%;
    top: 16%;
    width: 13px;
    height: 13px;
    background-color: #6a6666;
    border-radius: 1em;
}

.checksquare {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checksquare input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
    border: 3px solid $silver-two;
    background-color: white;
}

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 38px;
    width: 38px;
    border: 3px solid $silver-two;
    background-color: white;
}

.checksquare input:checked~.checkmark1 {
    background-color: white;
}

.checksquare input:checked~.checkmark2 {
    background-color: white;
}

.checkmark1:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}

.checksquare input:checked~.checkmark1:after {
    display: block;
}

.checksquare input:checked~.checkmark2:after {
    display: block;
}

.checksquare .checkmark1:after {
    left: 12px;
    top: 0px;
    width: 12px;
    height: 26px;
    border: solid $kelley-green;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checksquare .checkmark2:after {
    left: 12px;
    top: 0px;
    width: 12px;
    height: 26px;
    border: solid $selecred;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.prueba-check {
    width: 60px;
    height: 39px;
    border: 3px solid $lightgray;
}

.prueba-check input {
    width: 60px;
    height: 39px;
}

#date-schedule-landing {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.edit-cell {
    resize: none;
    border: none;
    padding: 8px;
    width: 100%;
    height: 100%;
    outline: none !important;
}

.table-input {
    border: none;
    width: 120px;
    outline: none !important;
}

#date-start-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
}

.modal-textarea {
    width: 100%;
    height: 358px;
    resize: none;
    outline: none !important;
}

.edit-program-textarea {
    outline: none;
}

//class to selectpicker
.bootstrap-select .btn:not(.bs-placeholder) {
    word-spacing: initial !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.bootstrap-select>.dropdown-toggle {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 70px;
}

.dropdown-item {
    display: inline-block;
    position: relative;
    line-height: 0;
    top: 0;
    margin-top: 12px;
    left: 25px;
    height: 0px;
    width: 0px;
    border-radius: 0em;
    border: 2px solid $morelightgray;
    background-color: white;

    padding: 0.45em;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    left: 3px;
    top: 0px;
}

.bootstrap-select.show-tick .dropdown-menu li a span.text {
    margin-left: 15px;
}

.bootstrap-select .bs-ok-default:after {
    content: "";
    display: block;
    width: 0.5em;
    left: 5px;
    top: 2px;
    height: 0.8em;
    border-style: solid;
    border-color: $teal;
    border-width: 0 0.26em 0.26em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

///end class to selectpicker

.edit-program-input {
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
}

.edit-program-textarea {
    width: 100%;
    height: 417px;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.5);
    resize: none;
    border: none;
}

.urls {
    width: 246px;
    height: 43px;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    border: none;
}

.edit-program-input {
    width: 100px;
}

.edit-program-large-input {
    width: 100%;
}

.thumbnail-header-claro {
    .filter-option {
        border: 2px solid $selecred;
        background: $selecred;
        color: white;
        font-size: 32px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .dropdown-item {
        display: inline-block;
        width: 100%;
        padding: 0 !important;
        clear: both;
        font-weight: 400;
        color: #9b9b9b;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0
    }
}



.thumbnail-header-concert {
    .filter-option {
        border: 2px solid $brightBlue;
        background: $brightBlue;
        color: white;
        font-size: 32px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .dropdown-item {
        display: inline-block;
        width: 100%;
        padding: 0 !important;
        clear: both;
        font-weight: 400;
        color: #9b9b9b;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0
    }
}

.thumbnail-header-cinema {
    .filter-option {
        border: 2px solid $teal;
        background: $teal;
        color: white;
        font-size: 32px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }

    .dropdown-item {
        display: inline-block;
        width: 100%;
        padding: 0 !important;
        clear: both;
        font-weight: 400;
        color: #9b9b9b;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0
    }
}

.thumbnail-header1>.dropdown-toggle {
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 100px !important;
}

.thumbnail-header1 .dropdown-toggle::after {
    content: url(http://localhost/backoffice1/backoffice/public/images/triangle.svg) !important;
    display: inline-block !important;
    position: inherit;
    border-bottom: 0px !important;
    border: 0 !important;
    top: 12px;
    right: 12px;
}

.thumbnail-header1 .dropdown-item {
    display: inline-block;
    width: 100%;
    padding: 0 !important;
    clear: both;
    font-weight: 400;
    color: $warmGrey;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.thumbnail-header1 .dropdown-menu .selected span.check-mark {
    color: $greyishBrownTwo;
}

.thumbnail-header1 .dropdown-menu li {
    position: relative;
    margin-bottom: 9px;
}

.list1>.dropdown-toggle {
    position: relative;
    // width: 165% !important;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 60px !important;
    border-radius: 1em;
}

.list1 .btn:not(.bs-placeholder) {
    word-spacing: 100px;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.list1 .dropdown-item {
    display: inline-block;
    position: relative;
    line-height: 0;
    top: 0;
    margin-top: 12px;
    left: 25px;
    height: 0px;
    width: 0px;
    border-radius: 0em;
    border: 2px solid $morelightgray;
    background-color: white;

    padding: 0.45em;
}

.list1.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    left: 3px;
    top: 0px;
}

.list1.show-tick .dropdown-menu li a span.text {
    margin-left: 15px;
}

.list1 .bs-ok-default:after {
    content: "";
    display: block;
    width: 0.5em;
    left: 5px;
    top: 2px;
    height: 0.8em;
    border-style: solid;
    border-color: $teal;
    border-width: 0 0.26em 0.26em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.list1 .dropdown-menu {
    //min-width: 165% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.programming-item {
    cursor: pointer;
}

.list1:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

//clases generales de estilos de sombra gris en seleckpicker
.show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: transparent !important;
    border-color: transparent !important;
}

div .bootstrap-select>.dropdown-toggle:focus {
    outline: 0 !important;
    outline: none !important;
    outline-offset: 0 !important;
}

.btn-light:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-light {
    background-color: transparent !important;
    border-color: transparent !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder {
    // color: white !important;
    color: white;
}

.btn.focus,
.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*:focus {
    outline: 0 !important;
}

//list cinema

.listcinema>.dropdown-toggle {
    position: relative;
    // width: 165% !important;
    z-index: 1;
    text-align: right;
    white-space: nowrap;
    overflow: auto;
    height: 60px !important;
    border-radius: 1em;
}

.listcinema .btn:not(.bs-placeholder) {
    word-spacing: 100px;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.listcinema .dropdown-item {
    display: inline-block;
    position: relative;
    line-height: 0;
    top: 0;
    margin-top: 12px;
    left: 25px;
    height: 0px;
    width: 0px;
    border-radius: 0em;
    border: 2px solid $morelightgray;
    background-color: white;

    padding: 0.45em;
}

.listcinema.show-tick .dropdown-menu .selected span.check-mark {
    position: absolute;
    display: inline-block;
    left: 3px;
    top: 0px;
}

.listcinema.show-tick .dropdown-menu li a span.text {
    margin-left: 15px;
}

.listcinema .bs-ok-default:after {
    content: "";
    display: block;
    width: 0.5em;
    left: 5px;
    top: 2px;
    height: 0.8em;
    border-style: solid;
    border-color: $teal;
    border-width: 0 0.26em 0.26em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.listcinema .dropdown-menu {
    //min-width: 165% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.listcinema:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100% !important;
}

.url-container {
    width: 83%;
}

.url-input {
    border-radius: 0px !important;
    width: 230px;
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.input-information {
    border-radius: 0px !important;
    width: 140px;
    height: 22px;
    -o-object-fit: contain;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);
}

.input-title {
    width: 634px;
    height: 111px;
    border-radius: 0px !important;
    -o-object-fit: contain;
    object-fit: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0);

}

.concert-input::placeholder {
    font-family: $MontserratBold;
    color: $bright-cyan;
}

.hoy-en::placeholder {
    font-family: $MontserratBlack;
    color: $white;
}

.title-home-enca::placeholder {
    font-family: $MontserratBlack;
    color: $teal;
}

.subtitle-home-enca::placeholder {
    font-family: $MontserratBlack;
    color: $black-two;
}

.concert-input-title::placeholder {
    font-family: $MontserratBlack;
    color: $bright-cyan;
}

.hoy-en-cinema::placeholder {
    font-family: $MontserratBlack;
    color: black;
}

.cinema-input-title::placeholder {
    font-family: $MontserratBlack;
    color: $selecred;
}

.cinema-title-input::placeholder {
    font-family: $MontserratBlack;
    color: $off-yellow-two;
}

.cinema-title-carrusel1-input::placeholder {
    font-family: $MontserratBlack;
    color: $turquoise-blue;
}

.input-title-cinema {
    background-color: $black-two;
}

.input-border {
    border-radius: 8px !important;
}

.modal-edit-program-carrusel .edit-program-genres {
    .filter-option {
        display: flex;
        align-items: center;
    }

    .filter-option-inner-inner {
        font-family: $MontserratBold;
        color: $warmGrey;
    }
}

.label-active {
    background-color: $teal;
    color: $white;
    border: none;
    font-family: $MontserratBlack;
}

.input-title-home {
    width: 575px;
    height: 194px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.input-subtitle-home {
    width: 575px;
    height: 101px;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.opa-holder::placeholder {
    opacity: 0.4;
}

.synopsis-modal-title {
    background-color: black;
    border: none
}
.backwhite{
    background: white
}