#date-picker {
    width: 100%;
    .date-picker-container {
        max-width: 580px;
        padding: 24px;
        margin: auto;
    }

    .date-picker-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $paleGray;
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .dates-picked-container {
        display: flex;
        align-items: center;
    }

    .date-start {
        width: 135px;
        height: 30px;
        margin-right: 16px;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .date-end {
        width: 135px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active {
        width: 135px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 0 2px $teal;
        border: solid 1px $teal;
        background-color: #ffffff;
    }

    .months {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        margin: 0px auto 16px auto;
    }

    .next-month,
    .prev-month {
        width: 31px;
    }

    .prev-month {
        transform: rotate(180deg);
    }

    .days-container {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $paleGray;
    }

    .days {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        height: 200px;
        margin-bottom: 24px;
    }

    .date-day {
        text-align: center;
    }
}
