@import "../base/color";

.loader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    z-index: 1;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.contenedor-tabla {
    display: table;
    overflow-x: scroll;
    width: 500%;
    height: 63px;

    //a-text-public
}

.conten-tab {
    //width: 500%;
    display: table;
    border-collapse: collapse;
}

.contenedor-table {
    display: table;
    overflow-x: scroll;
    height: 63px;
    white-space: nowrap;
    line-height: 4;
    //a-text-public
}

.contenedor {
    display: table;
    overflow-x: scroll;
    width: 100%;
    height: 63px;
    white-space: nowrap;
    //a-textpublic
}

.contenedor-fila {
    display: table-row;
    height: 63px;
    background-color: $white;
}

.row-selected {
    border: 3px solid $teal;
}

.row-no-selected {
    border: 1px solid $lightpink;
}

.contenedor-columna {
    display: table-cell;
    border: 1px solid $lightpink;
    vertical-align: middle;
    width: 146px;
    padding: 4px;
}

.column-select {
    box-shadow: 0 0 7px 2px $teal;
}

.editable-column {
    pointer-events: none;
}

.fondo {
    background: transparent;
}

.fondolog-reco {
    background: $white;
}

.contenido {
    position: absolute;
    left: 150px;
    right: 33%;
}

.content-table {
    display: table;
}

.login-container {
    padding-top: 4%;
    padding-bottom: 4%;
}

.login-container {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
}

.newpassword-container {
    height: 100vh;
}

.program {
    width: 40%;
}

.channel {
    width: 20%;
}

.cl {
    width: 925px;
}

.modaltam {
    width: 1485px;
    height: 600px;
    background-color: $white;
}

iframe {
    width: 1200px;
}

.conten-tab {
    #acciones {
        min-width: 118px;
    }

    #estado {
        min-width: 137px;
    }

    #alerta {
        min-width: 142px;
    }

    #program-title-original {
        min-width: 291px;
    }

    #establecer-landing {
        min-width: 241px;
    }

    #landing-programar {
        min-width: 312px;
    }

    #establecer-home {
        min-width: 300px;
    }

    #programar-home-publicacion {
        min-width: 312px;
    }

    #imagenes,
    #schedule-item-date-time,
    #subbed,
    #dubbed {
        min-width: 166px;
    }

    #schedule-item-date,
    #schedule-item-time {
        min-width: 170px;
    }

    #estimated-duration {
        min-width: 182px;
    }

    #program-year {
        min-width: 177px;
    }

    #program-genre,
    #rating-code {
        min-width: 169px;
    }

    #program-title-alternate {
        min-width: 247px;
    }

    #program-episode-season,
    #program-episode-number {
        min-width: 197px;
    }

    #synopsis {
        min-width: 569px;
    }

    #audio {
        min-width: 126px;
    }
}

.landing-table {
    overflow-x: scroll;
}

.date-modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 0px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(102, 101, 101);
    /* Fallback color */
    background-color: rgba(102, 101, 101, 0.4);
    /* Black w/ opacity */
}

.current-slide-container {
    width: 1000px;
    margin: auto;
}

.loader-container {
    z-index: 1;
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.loader-view-container {
    z-index: 1;
    background: white;
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    top: 0;
}

.dots-container {
    width: 1000px;
}

.thermometer-container {
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 2px 2px 5px 0 rgba(161, 161, 161, 0.5);
    background-color: #ffffff;
}

.thermometer-hours-container {
    width: 100%;
}

.state-container,
.alert-container {
    width: 100%;
    border-radius: 20px;
    max-width: 500px;
}
.alert-container {
    box-shadow: 0 2px 5px 0 $orange;
}

.state-container {
    box-shadow: 0 2px 5px 0 $teal;
}

.edit-data-container {
    background-color: #f9f9f9;
    border-radius: $radioButton;
    padding: 24px 16px;
}

.edit-rectangle-small-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 240px;
}

.edit-rectangle-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
}
