@import "../base/color";
@import "../base/typography";

header {
    grid-area: my-header;
    background-color: $darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 2px 1px $beige;
}

header {
    grid-area: my-header;
    background-color: $darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    box-shadow: 1px 0px 2px 1px $beige;
}

.thumbnail-header {
    height: 100px;
    background-color: $selecred;
    z-index: 9;
}

.header-background {
    background-color: $teal;
    height: 100px;
    z-index: 9;
}

.header-background-blue {
    background-color: $bright-blue;
    height: 100px;
    z-index: 9;
}
.home-header {
    position: relative;
    overflow-x: hidden;
  }
  .circle-video {
    margin: auto;
    clip-path: circle(50% at 80% 21%);
    position: absolute;
    right: 2%;
    width: 635px;
    height: 587px;
    z-index: 1;
    overflow: hidden;
    max-width: 1000px;
  }
  .home-video {
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }  
  .header {
    position: relative;
    width: 100%;
    //height: 205px;
    overflow: hidden;
  }
  .header-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    height: 100%;
    text-align: center;
    font-family:$MontserratBlack;
  }  