@import "../base/color";

.synopsis-image-slider,
.programming-slider,
.programming-slider-canal-claro,
.programming-slider-concert-channel {
    width: 1000px !important;
}

.programming-slider-dots,
.programming-slider-canal-claro,
.programming-slider-dots-concert-channel,
.carrusel1-slider-dots1 {
    .slick-dots {
        .slick-active {
            background-color: $teal;
        }

        .slick-active p {
            color: $white !important;
        }
    }
}

.programming-slider-dots-canal-claro,
.carrusel1-slider-dots1 {
    .slick-dots {
        .slick-active {
            background-color: $teal;
        }

        .slick-active p {
            color: $white !important;
        }
    }
}

.programming-slider-dots1 {
    .slick-dots {
        .slick-active {
            background-color: $teal;
        }

        .slick-active::after {
            content: "";
            border-width: 6px;
            border-style: solid;
            border-color: #4a4a4a transparent transparent transparent;
            position: absolute;
            left: 36%;
            bottom: -12px;
            transform: rotate(180deg);
        }

        .slick-active::before {
            content: "";
            border-width: 6px;
            border-style: solid;
            border-color: $greyishBrownTwo transparent transparent transparent;
            position: absolute;
            left: 50%;
            top: 0;
            -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, -95%);
        }

        .slick-active p {
            color: $white !important;
        }
    }
}

.calendar-slider {
    height: 68px;
}

.calendar-slider {
    div {
        height: 100%;
    }
}

.programming-slider,
.programming-slider-concert-channel {
    .slick-slide {
        height: 342px !important;
    }

    .slick-slide {
        div {
            height: 100% !important;
        }
    }
}

.programming-slider-canal-claro {
    .slick-slide {
        height: 342px !important;
    }

    .slick-slide {
        div {
            height: 100% !important;
        }
    }
}

.synopsis-image-slider {
    .slick-dots {
        position: static;
        margin-top: 24px;
        text-align: right;
    }

    .slick-slide {
        height: 342px !important;
    }

    .slick-slide {
        div {
            height: 100% !important;
        }
    }

    .slick-dots li {
        height: 37px;
        width: 37px;
    }

    .slick-dots {
        .slick-active {
            background-color: $teal;
        }

        .slick-active p {
            color: $white !important;
        }
    }
}

.slider-pagination-item {
    border: solid 3px $teal;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-pagination {
    border: solid 3px $teal;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
