.modal-edit-usersfront-content {
    width: 567px;
    margin: auto;
}
.modal-save {
    width: 749px;
    height: 430px;
    background-color: #ffffff;
}

.modal-synopsis {
    .modal-dialog {
        max-width: 750px !important;
    }
}

.modal-edit-icons .modal-content {
    margin: auto;
    width: 90%;
}

.modal-edit-icons {
    .modal-dialog {
        max-width: 100%;
        height: auto;
    }
}
