a:hover {
    text-decoration: none !important;
}

.modal-edit-usersfront-content {
    width: 567px;
    margin: auto;
}

.modal-save {
    width: 749px;
    height: 430px;
    background-color: #ffffff;
}

.modal-synopsis {
    .modal-dialog {
        max-width: 750px !important;
    }
}

.modal-edit-icons .modal-content {
    margin: auto;
    width: 90%;
}

.modal-edit-icons {
    .modal-dialog {
        max-width: 100%;
        height: auto;
    }
}

.modal-programming-landing {
    .modal-dialog {
        width: 900px;
        margin: auto;
    }

    .modal-body {
        padding: 48px;
    }
}

.modal-backdrop.show {
    opacity: 0.2 !important;
}

// MODAL

// ** HEADER **
.modal-header-claro {
    width: 1000px;
    padding: 20px 25px;
    background: $white;
    margin: auto;
}

.p-text-modal-sub {
    color: $black;
    margin-bottom: 0;
    font-size: 17px;
    font-family: $MontserratRegular;
}

.p-title-modal {
    color: $greyishBrownTwo;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    font-family: $MontserratRegular;
}

.hr {
    width: 100%;
    border: solid 2px $lightpink;
}

.content-item-center {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.img-content-header {
    width: 250px;
    height: 60px;
    display: inline-block;
}

.img-content-header img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    position: absolute;
    left: 0;
}

.content-img-modal {
    position: relative;
    height: 100%;
}

.inp-content {
    display: inline-block;
    box-shadow: 1px 1px 5px #a4a4a4;
    margin-left: 25px;
    font-family: $MontserratRegular;
}

.inp-text-modal-1 {

    padding: 5px;
    border: none;
    width: 155px;
}

.inp-text-modal-2 {
    padding: 5px;
    border: none;
    width: 250px;

}

.inp-text-modal-3 {

    text-align: center;
    border: none;
    width: 220px;
    border-radius: 50px;
    background: $selecred;
    margin-left: 25px;
    padding: 14px 0;

}

.content {
    width: 100%;
    display: inline-block;
}

.input-url {
    // width: 165px;
    padding: 8px;
    border: 1px solid $white;
    box-shadow: 1px 2px 4px #a4a4a4;
    margin-left: 5px;

}

/* ** HEADER ** */
/* ** TITULO ** */
.modal-title-claro {
    padding: 3% 5%;
    border-radius: 0 !important;
}

.title-modal-content {
    width: 550px;
    height: 115px;
    margin: 15px auto;
    background: $selecred;
    padding: 11px 12px;
    font-family: $MontserratRegular;
}

.inp-title-modal {
    background: #c06760;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 54px;
    padding: 0 0 0 12px;
}

.inp-sub-title-modal {
    background: #c06760;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 0 0 0 12px;
}

/* ** TITULO ** */
/* ** PROMO ** */
.modal-promo-claro {
    padding: 24px;
    border-radius: 0 !important;
}

.img-back-modal {
    object-fit: cover;
    position: absolute;
}

.img-back-modal-enable {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.img-promo {
    border: 20px solid $selecred;
    border-radius: 10px;
    width: 96%;
    left: 2%;
    height: 422px;
}

.img-promo-claro {
    width: 85%;
    height: 450px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: auto;
    text-align: center;
}

.add-file {
    width: 100%;
    z-index: 1;
}

.add-file {
    img {
        width: 60px;
        display: inline-block;
    }

    span {
        background: #fff;
        margin: 0 15px;
        border-radius: 15px;
        display: block;
        padding: 3px;

    }
}




/* ** PROMO ** */
/* ** LINK ** */
.modal-link-claro {
    padding: 5% 7%;
    border-radius: 0 !important;
}

.modal-link-claro p {
    font-size: 24px;
    color: $warm-grey-three;
    margin-bottom: 0;
    font-family: $MontserratRegular;
}

.modal-link-claro input {
    width: 100%;
    padding: 8px;
    color: #333;
    border: 1px solid $white;
    box-shadow: 1px 2px 4px #a4a4a4;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    float: right;
    font-family: $MontserratRegular;
}

/* ** LINK ** */
/* ** CARRUSEL ** */
.modal-carrusel-claro {
    padding: 4%;
}

.contet-carrusel-modal {
    padding: 0 2%;
}

.slt-carrusel1-modal {
    width: 100%;
    margin: 40px auto 0;
    background: $selecred;
    height: 90px;
    color: $white;
    font-size: 2rem;
    font-family: $MontserratRegular;
}

.img-carrusel {
    width: 100%;
    left: 0;
    height: 550px;
}

.img-carrusel-claro {
    width: 100%;
    height: 550px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: auto;
}

.heart-icon-carrusel {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10px;
    background-color: $warmGrey;
    padding: 16px;
    width: 110px;
    cursor: pointer;
}

/* ** CARRUSEL ** */

// MODAL


/** ** ** */

.btn-content button {
    color: $waterblue;
    background-color: $white;
    cursor: pointer;
    border: 2.5px solid $waterblue;
    font-weight: bold;
}

.btn-content-promo button {
    margin-top: 17%;
}






/** ** ** */
// .btn-tomato,
// .btn-tomato:hover {
//     color: #fff;
//     font-size: 18px;
//     font-weight: bold;
//     padding: 16px 35px;
// }

/** ** BANNER ** **/
.modal-banner-claro {
    width: 1344px;
    height: 708px;
    background: $white;
    margin: 75px auto 0 auto;
    padding: 19px 77px 0 77px;
}

.text-banner-p {
    color: $black;
    font-weight: 600;
    text-align: left;
}

.modal-banner-claro span {
    color: $greyishBrownTwo;
    font-weight: 800;
    display: block;
    margin: 6px 0 22px;
    font-weight: bold;
    text-align: center;
}

.content-calendario {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

.img-content-banner {
    width: 1191px;
    height: 359px;
}

.img-claro-back {
    top: 12px;
    object-fit: cover;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-add-photo {
    top: 34%;
    object-fit: cover;
    position: absolute;
    left: 47%;
    cursor: pointer;
    width: 8%;
}

.text-add-photo {
    top: 64%;
    position: absolute;
    left: 45%;
    color: #fff;
    background: #fff;
    padding: 5px 15px;
    border-radius: 25px;
}

.arrow-modal-right {
    position: absolute;
    left: -5%;
    width: 40px;
    top: 40%;
    cursor: pointer;
    transform: rotate(-180deg);
}

.arrow-modal-left {
    position: absolute;
    right: -5%;
    width: 40px;
    top: 40%;
    cursor: pointer;
}

.btn-modal-progra {
    bottom: 0;
}

.day-style {
    display: flex;
}

.day-style li {
    list-style: none;
    width: 62px;
    height: 76px;
}

.div-promo {
    height: 50%;
    align-items: center;
    width: 90%;
}

// HOME
.modal-logo-home-width {
    width: 1000px !important;
    max-width: 1000px !important;
}

.modal-logo-home {
    border-radius: 0 !important;
    padding: 2% 5%;
}

// .img-logo-home {
//     width: 350px;
//     left: 0%;
// }

.img-logo-home-claro {
    width: 98%;
    height: 98%;
}

.img-logo-home-concert {
    width: 160px;
}

.modal-img-home {
    width: 350px;
    height: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.modal-img-home-claro {
    width: 350px;
    height: 120px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.modal-img-home-concert {
    width: 405px;
    height: 217px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.add-file p {
    background: #fff;
    border-radius: 7px;
    padding: 7px 15px;
    display: inline;
    opacity: .8;
}

.ipt-home-canales {
    width: 350px;
    height: 80px;
    box-shadow: 1px 2px 4px #a4a4a4;
    padding-left: 5px;
    border: none;
    padding: 16px;
}

.btn-camales {
    color: $white;
    padding: 11px 50px;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid transparent;
}

.btn-red {
    background: $selecred;
}

.btn-pink {
    background: $pink;
}

.width-url {
    width: 115px;
}

// CARRUSEL
.modal-carrusel-home {
    border-radius: 0;
    padding: 1% 2%;
    margin: auto;
}

.modal-img-carrusel {
    width: 100%;
    height: 666px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    text-align: center;
}

.m-schedule {
    margin-bottom: 9px;
}

.img-carrusel-home {
    width: 100%;
    left: 0%;
}

// CARRUSEL
// HOME
