@import "../base/color";

.navbar-progra-item-border {
    border-right: 2px solid $morelightgray;
}

.navbar-progra-item:nth-child(0) {
    background: lightblue;
}

.navbar-progra-item-container {
    border-radius: 7px;
    cursor: pointer;
}

.navbar-progra-active {
    .navbar-progra-item-container {
        border-radius: 20px;
        background: $white;
        box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.5);
    }

    p {
        font-family: $MontserratBold;
        color: $selecred !important;
    }
}
.claro-navbar {
    position: inherit;
  }
  .claro-navbar {

    margin-top: 25px;
    z-index: 3;
    position: absolute;
    padding: 9px 0px;
  }
  .navbar-item-black {
    font-size: 16px;
    color: $navbarItemColor;
    margin-right: 20px;
    margin-bottom: 0;
  }

.claro-navbar-black {
    background: rgba(255, 255, 255, 0.8);
    padding: 9px 9px 9px 0px !important;
    margin-left: -250px;
    border-radius: 20px;
  }